In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [23]:
df=df.drop(["RowNumber","CustomerId","Surname"],axis =1)

In [24]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

label_encoder_gender = LabelEncoder()
df["Gender"] = label_encoder_gender.fit_transform(df["Gender"])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [25]:
##one hot encoding "geography"

onehot_encoder_geo = OneHotEncoder(handle_unknown="ignore")
geo_encoded = onehot_encoder_geo.fit_transform(df[["Geography"]]).toarray()
geo_encoded_dataframe =pd.DataFrame(
    geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_dataframe

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [26]:
df = pd.concat([df.drop("Geography",axis=1),geo_encoded_dataframe],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [27]:
x = df.drop("EstimatedSalary",axis=1)
y = df["EstimatedSalary"]

In [28]:
##train and testing 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train_,y_test = train_test_split(
    x,y,test_size=0.2,random_state=42)

In [29]:
##stansdard scaler 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [30]:
##save models 
import pickle
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)

with open("onehot_encode_geo.pkl","wb") as file:
    pickle.dump(onehot_encoder_geo,file)

with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

In [31]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

##build the model 
model = Sequential(
    [
        Dense(64,activation="relu",input_dim = (x_train_scaled.shape[1])),
        Dense(32,activation="relu"),
        Dense(1)
    ]
)

##modle complie 
model.compile(optimizer = "adam",loss ="mean_absolute_error",
              metrics =["mae"])
model.summary()

c:\Users\jaikr\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [32]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

##set up tensorboard 
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

tensorboard_callback= TensorBoard(log_dir = log_dir,histogram_freq = 1)

##set up Earlystopping 

early_stopping = EarlyStopping(
    monitor = "val_loss",
    patience = 10,
    restore_best_weights = True
)

history = model.fit(
    x_train_scaled,y_train_,
    validation_data = (x_test_scaled,y_test),
    epochs = 100,
    callbacks = [early_stopping,tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 100975.3906 - mae: 100975.3906 - val_loss: 98524.4531 - val_mae: 98524.4531
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 99719.4688 - mae: 99719.4688 - val_loss: 97129.4609 - val_mae: 97129.4609
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 98616.1016 - mae: 98616.1016 - val_loss: 93490.1875 - val_mae: 93490.1875
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 94676.1797 - mae: 94676.1797 - val_loss: 87243.1094 - val_mae: 87243.1094
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 87771.5938 - mae: 87771.5938 - val_loss: 79043.9922 - val_mae: 79043.9922
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 78094.9141 - mae: 78094.9141 - val_loss: 70304.2266 - val_mae: 70304.2266
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 69123.8750 - mae: 69123.8750 - val_loss: 62399.6602 - val_mae: 62399.6602
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 61134.4922 - mae: 61134.4922 - val_loss: 56582.0234 - val_mae: 56582.0234
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 55043.5039 - mae: 55043.5039 - val_loss: 53109.4922 - val_mae: 53109.4922
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 52451.4141 - mae: 52451.4141 - val_loss: 51424.0430 - val_mae: 51424.0430
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51297.2500 - mae: 51297.2500 - val_loss: 50853.2188 - val_mae: 50853.2188
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50363.5000 - mae: 50363.5000 - val_loss: 50665.5039 - val_mae: 50665.5039
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49910.9883 - mae: 49910.9883 - val_loss: 50600.3125 - val_mae: 50600.3125
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50138.0742 - mae: 50138.0742 - val_loss: 50557.6875 - val_mae: 50557.6875
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49773.1094 - mae: 49773.1094 - val_loss: 50525.1133 - val_mae: 50525.1133
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49582.6133 - mae: 49582.6133 - val_loss: 50495.2031 - val_mae: 50495.2031
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50261.1953 - mae: 50261.1953 - val_loss: 50467.6406 - val_mae: 50467.6406
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49918.5977 - mae: 49918.5977 - val_loss: 50445.2422 - val_mae: 50445.2422
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49652.4609 - mae: 49652.4609 - val_loss: 50426.4375 - val_mae: 50426.4375
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49857.3633 - mae: 49857.3633 - val_loss: 50406.1914 - val_mae: 50406.1914
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50293.2852 - mae: 50293.2852 - val_loss: 50397.1641 - val_mae: 50397.1641
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50228.3359 - mae: 50228.3359 - val_loss: 50394.6094 - val_mae: 50394.6094
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49733.3828 - mae: 49733.3828 - val_loss: 50383.6680 - val_mae: 50383.6680
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49387.7539 - mae: 49387.7539 - val_loss: 50362.8516 - val_mae: 50362.8516
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49529.5469 - mae: 49529.5469 - val_loss: 50369.7383 - val_mae: 50369.7383
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49737.6055 - mae: 49737.6055 - val_loss: 50355.5430 - val_mae: 50355.5430
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49499.3555 - mae: 49499.3555 - val_loss: 50346.0039 - val_mae: 50346.0039
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50175.0508 - mae: 50175.0508 - val_loss: 50340.3789 - val_mae: 50340.3789
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49474.6758 - mae: 49474.6758 - val_loss: 50348.8008 - val_mae: 50348.8008
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49981.1602 - mae: 49981.1602 - val_loss: 50342.8438 - val_mae: 50342.8438
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49721.9141 - mae: 49721.9141 - val_loss: 50336.8477 - val_mae: 50336.8477
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48971.2227 - mae: 48971.2227 - val_loss: 50339.5586 - val_mae: 50339.5586
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49532.0156 - mae: 49532.0156 - val_loss: 50335.8516 - val_mae: 50335.8516
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49942.2852 - mae: 49942.2852 - val_loss: 50339.5625 - val_mae: 50339.5625
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49942.6758 - mae: 49942.6758 - val_loss: 50336.1953 - val_mae: 50336.1953
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49812.3711 - mae: 49812.3711 - val_loss: 50337.9648 - val_mae: 50337.9648
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49437.9023 - mae: 49437.9023 - val_loss: 50343.0586 - val_mae: 50343.0586
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49652.3125 - mae: 49652.3125 - val_loss: 50338.1250 - val_mae: 50338.1250
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50158.4453 - mae: 50158.4453 - val_loss: 50335.5547 - val_mae: 50335.5547
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49335.2812 - mae: 49335.2812 - val_loss: 50339.0000 - val_mae: 50339.0000
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49084.5781 - mae: 49084.5781 - val_loss: 50335.7695 - val_mae: 50335.7695
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49435.1016 - mae: 49435.1016 - val_loss: 50334.0703 - val_mae: 50334.0703
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49836.7617 - mae: 49836.7617 - val_loss: 50344.0391 - val_mae: 50344.0391
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49189.3047 - mae: 49189.3047 - val_loss: 50352.7188 - val_mae: 50352.7188
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48991.1797 - mae: 48991.1797 - val_loss: 50353.5039 - val_mae: 50353.5039
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49429.9180 - mae: 49429.9180 - val_loss: 50346.3125 - val_mae: 50346.3125
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50019.6445 - mae: 50019.6445 - val_loss: 50348.1641 - val_mae: 50348.1641
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49879.5352 - mae: 49879.5352 - val_loss: 50345.8242 - val_mae: 50345.8242
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49659.9883 - mae: 49659.9883 - val_loss: 50349.1406 - val_mae: 50349.1406
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49615.1758 - mae: 49615.1758 - val_loss: 50358.6953 - val_mae: 50358.6953
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49988.9688 - mae: 49988.9688 - val_loss: 50336.2812 - val_mae: 50336.2812
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49881.1641 - mae: 49881.1641 - val_loss: 50351.6914 - val_mae: 50351.6914

In [33]:
##evaluate model on test data 
test_loss , test_mae = model.evaluate(x_test,y_test)
print(f"Test MAE : {test_mae}" )

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1382031744.0000 - mae: 1382031744.0000
Test MAE : 1350461696.0

In [34]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.